RewriteEngine on
RewriteBase /

RewriteRule ^sl/index.html/(.*)$ /index.php?lang=sl&vfile=index&p=$1
RewriteRule ^en/index.html/(.*)$ /index.php?lang=en&vfile=index&p=$1

RewriteRule ^en/(.*)\.html?(.*)$ /index.php?lang=en&vfile=$1&%{QUERY_STRING}
RewriteRule ^en/(.*)\.html&(.*)$ /index.php?lang=en&vfile=$1&$2
RewriteRule ^en/(.*)\.html$ /index.php?lang=en&vfile=$1

RewriteRule ^sl/(.*)\.html&(.*)$ /index.php?lang=sl&vfile=$1&$2
RewriteRule ^sl/(.*)\.html$ /index.php?lang=sl&vfile=$1

RewriteRule ^api/(.*)/(.*)$ /index.php?id=2&cmd=$1&p=$2
RewriteRule ^api/(.*)$ /index.php?id=2&cmd=$1&%{QUERY_STRING}

RewriteRule ^rdf-endpoint/?([0-9]+)/(.*)$ /index.php?id=17&port=$1&uri=$2
